### 1. Setup the Spark Environment

In [2]:
import pandas as pd
import pyspark
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)

### 2. Read SQL Script from local_txt_file

### PS: mainly the function is to count how many transactions for each CurrencyType

In [3]:
sql_file= open('/Users/AmandaJia/Desktop/MPS_Spark/sql_query', 'r')
sql_query = sql_file.readline()

### 3. Generate the Spark Dataframe

In [4]:
df = spark.read.format("csv").option("header", "true").load("file:/Users/AmandaJia/Desktop/MPS_Spark/mockdata.csv")

In [5]:
df.show()

+---------+--------+-------+--------+-----------+---------+--------+-------------+
|AssetType|customer|TradeId|AggGroup|tradingBook|StartDate| endDate|tradeCurrency|
+---------+--------+-------+--------+-----------+---------+--------+-------------+
|  IR_SWAP|      C0|     T0|      A0|        TB0| 20190807|20210322|          USD|
|  IR_SWAP|      C1|     T1|      A1|        TB0| 20190807|20191206|          AUD|
|  IR_SWAP|      C0|     T2|      A0|        TB0| 20190807|20210322|          USD|
|  IR_SWAP|      C0|     T3|      A0|        TB0| 20190807|20210322|          USD|
|  IR_SWAP|      C1|     T4|      A1|        TB0| 20190807|20240621|          AUD|
|  IR_SWAP|      C0|     T5|      A0|        TB0| 20190807|20210322|          USD|
|  IR_SWAP|      C1|     T6|      A1|        TB0| 20190807|20191001|          AUD|
|  IR_SWAP|      C1|     T7|      A1|        TB0| 20190807|20200629|          NZD|
|  IR_SWAP|      C1|     T8|      A1|        TB0| 20190807|20240411|          AUD|
|  IR_SWAP|      C1|     T9|      A1|        TB0| 20190807|20200320|          AUD|
|  IR_SWAP|      C1|    T10|      A1|        TB0| 20190807|20191122|          AUD|
|  IR_SWAP|      C1|    T11|      A1|        TB0| 20190807|20290308|          NZD|
|  IR_SWAP|      C1|    T12|      A1|        TB0| 20190807|20200116|          AUD|
|  IR_SWAP|      C1|    T13|      A1|        TB0| 20190807|20200121|          AUD|
|  IR_SWAP|      C1|    T14|      A1|        TB0| 20190807|20300114|          AUD|
|  IR_SWAP|      C1|    T15|      A1|        TB0| 20190807|20210920|          NZD|
|  IR_SWAP|      C1|    T16|      A1|        TB0| 20190807|20210920|          NZD|
|  IR_SWAP|      C1|    T17|      A1|        TB0| 20190807|20210920|          NZD|
|  IR_SWAP|      C1|    T18|      A1|        TB0| 20190807|20191108|          AUD|
|  IR_SWAP|      C1|    T19|      A1|        TB0| 20190807|20210920|          NZD|
+---------+--------+-------+--------+-----------+---------+--------+-------------+
only showing top 20 rows

### 4. Loading the SQL Script Using Spark

In [6]:
df.createOrReplaceTempView("transactions")
results = spark.sql(sql_query)

In [7]:
results.show()

+-------------+-------------+
|tradeCurrency|num_of_trades|
+-------------+-------------+
|          AUD|           46|
|          SGD|            3|
|          NZD|       251417|
|          NZD|           40|
|          CNY|       249613|
|          AUD|       249375|
|          USD|           11|
|          USD|       249795|
+-------------+-------------+

# Comparison of Spark_SQL & Pandas DataFrame

In [ ]:
%%time
#df.createOrReplaceTempView("transactions")
results = spark.sql(sql_query)
#results.show()

In [ ]:
df_pd = pd.read_csv('mockdata.csv')

In [ ]:
df_pd.head()

In [ ]:
%%time
df_pd.groupby('tradeCurrency').count()[['customer']]